{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> User Login </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header> 
            <h1 style="text-align: center;"> User Login </h1>
            {% include "Navbar.html"%} <br> <br>
        </header>

        <main> 

            <div id="User_Login">
                <form action="" method=POST id="User_Login_Form">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"> Username </label>
                        {% csrf_token %}
                        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Password </label>
                        {% csrf_token %}
                        <input type="password" class="form-control" name="password">
                    </div>
                    <span>
                        <button type="submit" value="Submit" class="btn btn-success" id="Login_Button"> Login </button>
                        <a class="btn btn-primary" id="Create_Account_Button" href="{% url 'CreateAccount' %}" role="button" > Create An Account </a>
                        <button type="failure" value="Failure" class="btn btn-danger" id="Forgot_Pass_Button"> Forgot Password </button>   
                    </span>
                </form>
            </div>

        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
    </body>
</html>
