/* All Pages Styling */
body {
    background-color: #FCEDDA;
    color: #4eb62e;
    font-family: Arial, Helvetica, sans-serif;

    /* For Displaying on Smaller Resolution Devices */
    /* position: absolute;
    margin: 0%;
    width: 100%; */
}

a {
    text-decoration: none;
}

th{
    text-align: center;
}

#Comment{
    color: #CC313D;
    font-weight: 700;
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%
}

/* NavBar Extension Page */

/* Search NavBar */
#Search_NavBar{
    background-color: #CC313D;
}

#Search_Nav_Bar_Content{
    display: flex;
    margin-right: 100px;
}

#Home_Image_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-right: 50px;
    margin-left: 100px;

}

#Search_Bar_Button{
}

#Search_Button{
    background-color: #F7C5CC;
    font-weight: 700;
    position: relative; left: 10px;
}

#Product_Search_Input_Bar  {
    /* color: #000000; */
    background-color: #F7C5CC;
    font-weight: 700;
}

#Shopping_Cart_Button {
    /* color: #000000; */
    color: #F7C5CC;
    font-weight: 700;
    margin-right: 15px;
    position: absolute; right: 5px;
}

/* Responsive Styling for the Search NavBar */
@media screen and (max-width: 2500px) {
    #Product_Search_Input_Bar{
        width: 2000px;
    }
}

@media screen and (max-width: 2400px) {
    #Product_Search_Input_Bar{
        width: 1900px;
    }
}

@media screen and (max-width: 2300px) {
    #Product_Search_Input_Bar{
        width: 1800px;
    }
}

@media screen and (max-width: 2200px) {
    #Product_Search_Input_Bar{
        width: 1700px;
    }
}

@media screen and (max-width: 2100px) {
    #Product_Search_Input_Bar{
        width: 1600px;
    }
}

@media screen and (max-width: 2000px) {
    #Product_Search_Input_Bar{
        width: 1500px;
    }
}

@media screen and (max-width: 1900px) {
    #Product_Search_Input_Bar{
        width: 1400px;
    }
}

@media screen and (max-width: 1800px) {
    #Product_Search_Input_Bar{
        width: 1300px;
    }
}

@media screen and (max-width: 1750px) {
    #Product_Search_Input_Bar{
        width: 1250px;
    }
}

@media screen and (max-width: 1700px) {
    #Product_Search_Input_Bar{
        width: 1200px;
    }
}

@media screen and (max-width: 1650px) {
    #Product_Search_Input_Bar{
        width: 1150px;
    }
}

@media screen and (max-width: 1600px){
    #Product_Search_Input_Bar{
        width: 1100px;
    }
}

@media screen and (max-width: 1550px){
    #Product_Search_Input_Bar{
        width: 1050px;
    }
}

@media screen and (max-width: 1500px){
    #Product_Search_Input_Bar{
        width: 1000px;
    }
}

@media screen and (max-width: 1450px){
    #Product_Search_Input_Bar{
        width: 950px;
    }
}


@media screen and (max-width: 1400px){
    #Product_Search_Input_Bar{
        width: 900px;
    }
}

@media screen and (max-width: 1350px){
    #Product_Search_Input_Bar{
        width: 850px;
    }
}

@media screen and (max-width: 1300px){
    #Product_Search_Input_Bar{
        width: 800px;
    }

}
@media screen and (max-width: 1250px){
    #Product_Search_Input_Bar{
        width: 750px;
    }
}

@media screen and (max-width: 1200px){
    #Product_Search_Input_Bar{
        width: 700px;
    }
}

@media screen and (max-width: 1150px){
    #Product_Search_Input_Bar{
        width: 650px;
    }
}

@media screen and (max-width: 1100px){
    #Product_Search_Input_Bar{
        width: 600px;
    }
}

@media screen and (max-width: 1050px){
    #Product_Search_Input_Bar{
        width: 550px;
    }
}

@media screen and (max-width: 991px){
    #Product_Search_Input_Bar{
        margin-left: 187px;
    }

    #Home_Image_Button{
        position: absolute;
    }

}

/* Main NavBar */
#Main_NavBar, #Account_DropDown_Options, #Business_Products_Services_DropDown_Options{
    background-color: #ff9c77;
}

#Main_NavBar_Button, #NavBar_DropDown_Menu_Button
{
    color: #2F3C7E;
    /* background-color: #000000; */
    font-weight: 700;
}

#Company_Email, #Company_Phone {
    color: #1e6d5c;
    font-weight: 700;
}

/* Responsive Styling For Main Navbar */
@media screen and (max-width: 1497px){
    #Company_Phone{
        display: none;
    }
}

@media screen and (max-width: 1382px){
    #Company_Email{
        display: none;
    }
    
    #Main_NavBar_Button{

    }
    #Account_DropDown_Options{

    }
}

@media screen and (max-width: 1105px) {
    #Main_NavBar_Button{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}


@media screen and (max-width: 991px) {
}


/* Home Page */
#Business_Name_Quansh_Tech{
    text-align: center;
}

#LogIn_LogOut_Alert{
    display: table;
    margin: auto;
    margin-top: -2%;
    margin-bottom: 1%;
}

#Picture_SlideShow{
}

#Computer_Store_Email_Home {
    margin-right: 100px;
}

#Computer_Store_Contact_Info {
    background-color: #cebfab;
    padding-top: 7%;
    padding-bottom: 20%;
    padding-left: 14%;
}

#Back_To_Top_Page_Button{
    display: block;
    /* color: #000000;
    background-color: #000000; */
}


/* Responsive Styling for HomePage */
@media screen and (max-width: 1350px) {
    #Business_Name_Quansh_Tech{
    }
    
    #LogIn_LogOut_Alert{
    }
    
    #Picture_SlideShow{
    }
    
    #Computer_Store_Email_Home {
    }
    
    #Computer_Store_Contact_Info {
    }
    
    #Back_To_Top_Page_Button{
    }
}


/* About Us Page */
#About_Quansh_Tech, #About_Title{
    text-align: center;
}

#About_Title{
    padding-top: 75px;
    font-weight: 700;
}

#About_Us_Article{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 33px;
    padding-bottom: 250px;
}

#About_Introduction{
    padding-top: 15px;
    padding-bottom: 15px;
}

#Introduction_Title{
    color: #aa3e13;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Introduction_Body{
    color: #e4541b;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Commitment{
    padding-top: 15px;
    padding-bottom: 15px;
}

#Commitment_Title{
    color: #927413;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Commitment_Body{
    color: #c5a22d;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Products{
    padding-top: 10px;
    padding-bottom: 10px;
}

#Products_Title{
    color: #053a80;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Products_Body{
    color: #0c62d3;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Services{
    padding-top: 10px;
    padding-bottom: 10px;
}

#Services_Title{
    color: #078596;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Services_Body{
    color: #16bed4;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Pricing{
    padding-top: 10px;
    padding-bottom: 10px;
}

#Pricing_Title{
    color: #088623;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Pricing_Body{
    color: #14c039;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Community{
    padding-top: 10px;
    padding-bottom: 10px;
}

#Community_Title{
    color: #600883;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Community_Body{
    color: #9212c5;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

#About_Conclusion {
    padding-top: 10px;
    padding-bottom: 10px;
}

#Conclusion_Title{
    color: #790707;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Conclusion_Body{
    color: #d31212;
    text-shadow: 0.25px 0.25px;
    padding-left: 3%;
}

/* Product Menu Page */
#Add_A_Product_Button{
    padding: 14px;
    margin-left: 10%;
    margin-bottom: 25px;
}

#All_Products_Menu{

}

#All_Products_Card{
    width: 300px;
    margin-bottom: 20px;
}

#All_Products_Image{

}

#All_Products_Name_And_Brand{
    color: #525528;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px
}


#Product_Price {
    margin-left: 5%;
    font-weight: 700;
    color: #24923f;
}

#In_Stock_Product{
    margin-left: 5%;
    font-weight: 700;
    color: #5101bb;
}

#No_Stock_Product{
    margin-left: 5%;
    font-weight: 700;
    color: #a70138;
}

#EOL_In_Stock_Product{
    margin-left: 5%;
    font-weight: 700;
    color: #260058;
}

#EOL_No_Stock_Product{
    margin-left: 5%;
    font-weight: 700;
    color: #ff0000;
}

#All_Products_Common_Buttons, #All_Products_Auth_Buttons{
    display: flex;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 15px;
}

#All_Products_View_Item_Button{
    color: #000000;
    background-color: #fffb00;
    margin-right: 10px;
}

#All_Products_Add_To_Cart_Button{
    color: #c7e9d7;
    background-color: #448f57;
    margin-left: 10px;
}

#All_Products_Update_Button{
    color: #bdc9ff;
    background-color: #283d9b;
    margin-right: 16px;
}

#All_Products_Delete_Button{
    color: #ffe0e0;
    background-color: #c22323;
    margin-left: 16px;
}

/* Single Product Page */
#Product_Card{
    display: table;
    position: relative;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 300px;
}

#Single_Product_Card{
    width: 700px;
}

#Single_Product_Image{
    /* display: table;
    margin: auto; */
    width: 300px;
    margin-top: 2%;
    margin-left: 27.5%;
}

#Single_Product_Name_And_Brand{
    text-align: center;
    color: #2645f1;
    margin-left: 15%;
    margin-right: 15%; 
    margin-top: 50px; 
    margin-bottom: 50px
}

#Single_Product_Summary_Header{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5px;
    color: #8d1f37;
}

#Single_Product_Summary{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
    color: #298686;
}


#Single_Product_Key_Feature_Header{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5px;
    color: #8d1f37;
}

#Single_Product_Key_Feature_List{
    list-style-type: "🌟 ";
    padding-left: 17%;
    padding-right: 15%;
}

#Single_Product_Key_Feature_List_Item{
    padding-bottom: 5px;
    color: #0f0633;

}

#Single_Product_Price_Stock{
    display: flex;
    padding-left: 25%;
    padding-right: 15%;
}

#Single_Product_Price{
    color: #104e34;
    padding-right: 40px;
}

#Single_Product_Stock{
    color: #C76868;
    padding-left: 40px;
}

#Single_Product_Common_Buttons, #Single_Product_Auth_Buttons{
    display: flex;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

#Single_Add_To_Cart_Button{
    margin-right: 45px;
    padding: 7px;
    color: #c7e9d7;
    background-color: #448f57
}

#Single_Save_Item_Button{
    margin-left: 45px;
    padding: 7px;
    color: #000000;
    background-color: #fffb00;
}

#Single_Update_Button{
    margin-right: 60px;
    padding: 7px;
    color: #bdc9ff;
    background-color: #283d9b;
}   

#Single_Delete_Button{
    margin-left: 60px;
    padding: 7px;
    color: #ffe0e0;
    background-color: #c22323;
}

/* Product Add Page & Update Page for Admins Only */
#New_Product_Submission_Message{

}

#Product_Form{
    margin-left: 25%;
}

#Product_Form_Name{
    width: 500px;
}    
#Product_Form_Brand, #Product_Form_Price, #Product_Form_Stock{
    width: 250px;
}    

#Product_Form_Description{
    width: 700px;
}

#Product_Form_Submit_Button{
    margin-left: 22.5%;
}

/* Tech Consultation Page */
#Quansh_Tech_Consultation{
    text-align: center;
    font-weight: 700;
}

#ConsultMessage{
    padding-top: 4%;
    font-weight: 700;
    text-align: center;
    color: #7c680b;
}

#Profesional_Consultation, #Personal_Consultation, #Consultation_Testimonials{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}

#Prof_Consult_Phone, #Prof_Consult_Email{
    padding-right: 7%;
}

#Per_Consult_Phone, #Per_Consult_Email{
    padding-right: 7%;
}

#Consult_Review{
    color: #a7aa00;
    font-weight: 700;
    margin-top: 3%;
}

#Actual_Testimonial{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 1200px;
}

#Consult_Review_Title{
    color: #530a0a;
}

#Consult_Review_Body{
    color: #17803f;
}

/* Tech Support Page */
#Quansh_Tech_Support{ 
    text-align: center;
    font-weight: 700;
    
}

#Tech_Support_Message{
    padding-top: 4%;
    text-align: center;
    font-weight: 700;
    color: #7c680b;
}

#Direct_Support_Message{
    font-weight: 700;
}

#Tech_Support_Contact{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
    font-weight: 700;
}

#Tech_Support_Phone{
    padding-right: 7%;
}

#Support_Tickets{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 20%;
}

#Submit_Question_Message{
    font-weight: 700;
}

#Question_Submitted_Successfully{
    
}

#EmailSubmission, #QuestionSubmission{
    
}

#Tech_Question_Submit_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-left: 45%;
    margin-bottom: 7%;
}

#FAQ_Message{
    font-weight: 700;
}

#Tech_FAQs {
    padding-left: 14%;
    padding-right: 20%;
}

/* Tech Lab Page */
#Quansh_Tech_Lab{
    text-align: center;
    font-weight: 700;
}

#Lab_Greetings{
    color: #7c680b;
    text-align: center;
    font-weight: 700;
    padding-top: 2%;
    margin-top: 2%;
}

#Lab_Summary{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}


/* Careers Page */
#Quansh_Tech_Jobs{
    text-align: center;
}

#Employment_Greetings{
    color: #7c680b;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
    font-weight: 700;
}

#Employment_Summary{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}

#Successful_Submit_Message{
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 20%;
    padding-bottom: 5%;
}

#Employment_Positions{
    margin-left: 27%;
    margin-right: 35%;
    
}

#Job_Title {
    color: #2645f1;
}

#WorkPlace {
    color: #b81010;
}

#Job_Key_Respons{
    color: #921f9c;
}

#Responsibilties{
    color: #530a0a;
}

#Salary {
    color: #358606;
}

#One_Job_Display{
    margin-bottom: 10%;
}

/* Single Job Appliaction Page */
#Single_Job_Position, #Job_Application_Form{
    margin-left: 20%;
    margin-right: 30%;
}

#Single_Job_Title{
    color: #2645f1;
}

#Single_Salary{
    color: #358606;
}

#Single_Location_Type, #Single_Workplace{
    color: #b81010;
}

#Single_Job_Description, #Single_Job_Responsibilties{
    color: #921f9c;
}

#Single_Job_Benefits{
    color: #8b822a;
}

#Single_Job_EEO{
    color: #000000;
}

#HR_Phone {
    padding-right: 5%;
}

#Application_Title{
    font-weight: 700;
    text-align: center;
}

#Job_Application_Form {
    padding-top: 3%;
}

#Submit_Button{
    display: table;
    margin: auto;
    /* color: #000000;
    background-color: #000000; */
    margin-bottom: 20%;
}

/* Locations Page */
#Locations_Page{
    text-align: center;
    font-weight: 700;
}

#Locations_Greetings{
    color: #7c680b;
    text-align: center;
    font-weight: 700;
    padding-top: 2%;
    margin-top: 2%;
}


#All_Locations{
    margin-left: 20%;
    margin-right: 20%
}

#Location_Card{
    text-align: center;
    display: inline-block;
    width: 300px;
    margin-left: 5%;
    margin-top: 5%;
}

#Store_Location{
    color: #771800;
}

#More_Details_Button {
    /* color: #000000;
    background-color: #000000; */
    margin: 3.5%;
}


#Update_Location_Button{
    /* color: #000000;
    background-color: #000000; */
}

/* Single Location Page */
#Update_Location_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-left: 20%;
}

#Single_Location_Card{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 100px;
}

#Single_Location_Title{
    color: #a73a98;
}

#Store_Address, #Business_Hours{
    color: #530a0a;
    font-weight: 700;
}

#Entire_Address{
    color: #110f11;
    padding-left: 32px;
    margin-bottom: 45px;
}

#Phone_Number{
    margin-bottom: 45px;
}

#Business_Hours_List {
    list-style: none;
}

#Day {
    color: #CC313D;
    font-weight: 700;
}

#Open_And_Close_Times{
    color: #1e6d5c;
}

/* Location Update Page for Admins Only */
#Location_Update_Form{
    margin-left: 25%;
}

#Store_Street, #Store_City, #Store_State, #Store_Zip,
#Store_Phone, #Store_Opening_Time, #Store_Closing_Time {
    width: 300px;
    margin-top: 0.07%;
}


/* Customer Shopping Review Form Page */
#Customer_Shopping_Review_Form{
    margin-left: 14%;
    margin-right: 15%;
}

#Shopping_Date, #Review_Score, #Entire_Review {
    color: #13196b;
}

#Shopping_Review_Submit {
    margin-left: 43%;
}

/* Customer Reviews Page for Quansh Tech Staff Only */
#Quansh_Tech_Reviews_Title{
    color: #7c680b;
    font-weight: 700;
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 50px;
}


#Entire_Review_Card{
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 100px;
    width: 65%;
}

#Review_Card_Header{
    font-weight: 700;
    color: #530a0a;
}


#Good_Review_Score{
    color: #30ff29;
    text-shadow: 0.25px 0.25px;
}

#Good_Review_Message{
    color: #11500e;
}

#Bad_Review_Score{
    color: #ff0000;
    text-shadow: 0.25px 0.25px;
}

#Bad_Review_Message{
    color: #6d0808;
}

#Average_Review_Score{
    color: #cfcd46;
    text-shadow: 0.25px 0.25px;
}

#Average_Review_Message{
    color: #757427;
}

#Review_Message{
    color: #8d1f37;
}


/* Account Registration Page */
#Account_Register{
    text-align: center;
}

#Create_Account_Message{
    color: #7c680b;
    font-weight: 700;
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Account_Registration{
    margin-left: 14%;
    margin-right: 10%;
    width: 70%;
    color: #2e0000;
}

#Registration_Username, #Registration_First_Name, #Registration_Last_Name,
#Registration_Email, #Registration_Password1, #Registration_Password2{
    color: #011e2e;
}


#Account_Registration_Submit_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-left: 45%;
}

/* Login Page */
#User_Login{
    display: flex;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
}

#User_Login_Form{
    width: 700px;
}

#Login_Username, #Login_Password{
    color: #2F3C7E;
}

#Login_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-bottom: 5%;
    margin-right: 10%;
}

#Create_Account_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-bottom: 5%;
    margin-right: 10%;
}

#Forgot_Pass_Button{
    /* color: #000000;
    background-color: #000000; */
    margin-bottom: 5%;
}

/* Generate Reports Page */
#All_Reports{
    display: inline-flex;
    margin-top: 2.5%;
    margin-left: 14%;
    margin-bottom: 2.5%;
}

/* Existing User Account Recovery Page */
#Account_Recovery_Page{
    text-align: center;
    font-weight: 700;
}

#Forgot_Password_Message{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    color: #bd0600;
}

#Account_Recovery_Buttons{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

#Reset_User_Button{
    margin-left: 20%;
    margin-right: 2.5%;
    /* color: #000000;
    background-color: #000000; */
}

#Reset_Pass_Button{
    margin-left: 5%;
    /* color: #000000;
    background-color: #000000; */
}



/* Website Reports Page */
#Reports_Page{ 
    text-align: center;
}

#Product_Reports{
}

#Location_Reports{
}

#TXT_Product_Report, #CSV_Product_Report, #PDF_Locations_Report{
}

/* ECommerce Dashboard Web Page Admins Only */
#Products_Dashboard{
    text-align: center;
    font-weight: 700;
}


#Stats_Promos{
    display: inline-flex;
}


#Web_Stats, #Promotions, #All_Comp_Products{
    text-align: center;
    color: #3a0629;
}

#Web_Stats_Table{
    width: 500px;
    margin-right: 5%;
    margin-left: 7%
}

#Web_Stats_Table_Data{
    color: #201E20;
    background-color: #E0A96D;
}

#Promotions_Table{
    color: #201E20;
    background-color: #E0A96D;
    text-align: left;
    width: 1100px;
}


#All_Products_Table{
    color: #201E20;
    background-color: #E0A96D;
    margin-left: 14%;
    width: 1300px;
}

#View_Product_Link{
    color: #201E20;
}

#EOL{
    color: #ff0000;
    font-weight: 700;
}

#Available, #CouponCode{
    color: #2e7917;
    font-weight: 700;
}

#Paggination{
    display: table;
    margin: auto;
}

/* Retail Stores Dashboard Web Page Admins Only */
#Retail_Stores_Dashboard{
    text-align: center;
    font-weight: 700;
}

#Stats_Stores{
    display: flex;
}

#Retail_Store_Stats{
    width: 300px;
    margin-right: 10%;
    margin-left: 7%
}

#Retail_Stats_Table_Data{
    color: #201E20;
    background-color: #E0A96D;
}

#Retail_Stores_Table{
    color: #201E20;
    background-color: #E0A96D;
    width: 700px;
}

#All_Store_Locations{
    text-align: center;
    color: #3a0629;
}

#View_Store_Link{
    color: #201E20;
}

/* Leaving a Review Page */

#Add_A_Review_Header{
    text-align: center; 
    font-weight: 700;
}

#Review_Form{
    display: block;
    margin: auto;
    padding-top: 5%;
    width: 75%;
}

#Review_Form_Title{
    text-align: center; 
    font-weight: 700;
    color: #19172e;
    margin-bottom: 30px;
}

#Good_Title{
    color: #088623;
}

#Bad_Title{
    color: #bdad1c;
}

#Ugly_Title{
    color: #ff0000;
}

#Review_Form_Survey_Submit{
    margin-left: 42%;
    margin-right: 40%;
}


/* Customer Support Dashboard, Admins Only  */
#QTCustomers{
    text-align: center;
    font-weight: 700;
}

#Pending_Tickets{
    color: #5c0606;
    font-weight: 700;
    margin-left: 38%;
    margin-right: 20%;
    margin-top: 20px;
}

#Answered_Tickets{
    color: #0e610b;
    font-weight: 700;
    margin-left: 38%;
    margin-right: 20%;
    margin-top: 5%;
}


#Customer_Ticket {
    margin-top: 3%;
    margin-left: 14%;
    margin-right: 20%;
    margin-bottom: 100px;
    width: 65%;
}

#Pending_Ticket{
    color: #b81010;
    font-weight: 700;
}

#From_Email{
}

#Answered_Ticket{
    color: #1de716;
    font-weight: 700;
}

#For_Email{

}

#Customer_Inquiry{
    color: #1d060b;
}

#Reply_To_Email{
    color: #921f9c;
    /* margin-left: 30%; */
}

#Customer_Email{
    margin-right: 5%;
}

#Update_Ticket_Button{
    background-color: #3ba044;
    color: #1f0549;
}

/* Customer Support Status Update Change, Admins Only */
#Ticket_Status_Update_Page{
    text-align: center;
    font-weight: 700;
}

#Single_CSR_Ticket{
    display: table;
    margin: auto;
    padding-right: 10%;
    padding-top: 5%;
}

#Ticket_Update_Form{
    margin-top: 30px;
    margin-left: 20%;
}

#Check_Box{
    color: #277c00;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Empty_Box{
    color: #bd0600;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Support_Status_Change_Form{
    margin-left: 14%;
}

#Update_Ticket_Status_Button{
    margin-top: 20px;
}


/* Human Resources Web Page HR Personal & Admins Only */
#Stats_HR {
    display: inline-flex;
}

#Job_Open_Title, #Quansh_Staff_Title{
    text-align: center;
    color: #c57812;
}

#HR_Stats_Data{
    color: #8d1f37;
    background-color: #cdceae;
}

#Job_Applicant_Table, #Staff_Table {
    width: 500px;
    margin-right: 10%;
    margin-left: 7%
}

/* Product Search Result Page */
#Product_Search_Result, #You_Searched_For{
    text-align: center;
    font-weight: 700;
}

#ProductName_Search_Result_List, #ProductBrand_Search_Result_List{
    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 375px;
}

#Search_Result_Image{
    width: 100%;
    margin-bottom: 10px;
}


/* 404 Error Page */
#Web_Page_Not_Found{
    text-align: center;
    color: #eb1b1b;
    font-weight: 700;
    text-shadow: 0.25px 0.25px;
}

#Page_404_Error_Image{
    display: flex;
    margin: auto;
    width: 70%;
    height: 70%;
    margin-bottom: 100px;
}