{% extends '00Base.html' %}
{% block content %}
<!-- Header-->

<main>

    {% comment %} <h2 id="Forgot_Password_Message"> Oh No! You have forgotten your password! <h2> 

    <div id="Account_Recovery_Buttons">
        <h3 id="Comment"> &#11088 Add Reset User &  Password Web Page or Emailing Function </h3> 
        <button id="Reset_User_Button" type="button" class="btn btn-warning"> Reset Username </button>
        <button id="Reset_Pass_Button" type="button" class="btn btn-warning"> Reset Password </button>
    <div> {% endcomment %}

    <div style="margin: 100px;"> 
        <h3 id="Create_Account_Message"> Enter Your New Password Below </h3>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded" id="Account_Registration">      
                <form action="{% url 'MyAccountPasswordReset' %}" method=POST id="Registration_Form">
                    <div> {% csrf_token %} {{ Form.as_p }} </div>
                    <button type="submit" value="Submit" class="btn btn-primary" id="Account_Registration_Submit_Button"> Update </button>
                </form>
        </div>
    </div>

</main>

{% endblock %}
