{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> Quansh Technology HomePage </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header>
            <span> <h1 id="Business_Name_Quansh_Tech"> Quansh Technology </h1> </span>
            {% include "Navbar.html"%}
        </header>

        <main> <br> <br>
            {% comment %} Display Login / Logout Message {% endcomment %}
            {% if messages %}
                {% for message in messages %}
                <span class="alert alert-warning" id="LogIn_LogOut_Alert" role="alert"> {{ message }} </span>
                {% endfor %}
            {% endif %}

            {% comment %} Carousel Image SlideShow {% endcomment %}
            <div id="Picture_SlideShow" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"> <img src="{{SS1}}" class="d-block w-100" alt="https://images.pexels.com/photos/6373758/pexels-photo-6373758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                    <div class="carousel-item"> <img src="{{SS2}}" class="d-block w-100" alt="https://images.pexels.com/photos/1432675/pexels-photo-1432675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                    <div class="carousel-item"> <img src="{{SS3}}" class="d-block w-100" alt="https://images.pexels.com/photos/117729/pexels-photo-117729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                    <div class="carousel-item"> <img src="{{SS4}}" class="d-block w-100" alt="https://images.pexels.com/photos/163140/technology-computer-motherboard-chips-163140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                    <div class="carousel-item"> <img src="{{SS5}}" class="d-block w-100" alt="https://images.pexels.com/photos/2643596/pexels-photo-2643596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                    <div class="carousel-item"> <img src="{{SS6}}" class="d-block w-100" alt="https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> </div>
                </div>
            </div>

            {% if user.is_superuser %}
            <h3 id="Comment"> &#11088  Weather Tracker API Goes Here </h3>
            <h3 id="Comment"> &#11088  Crypto &#8383 Tracker API Goes Here </h3>
            {% endif %}

        </main>

        <footer>
            <span> <a href="{% url 'HomePage' %}" class="btn btn-primary" id="Back_To_Top_Page_Button"> Back To Top </a> </span>

            <div id="Computer_Store_Contact_Info">
                <span id="Computer_Store_Email_Home"> &#128231 &#8658 <a href="mailto:hakobkoa@gmail.com"> <strong> QT@QuanshTech.com </strong> </a> </span>
                <span id="Computer_Store_Phone_Home"> &#128222 &#8658 <a href="tel:818-364-2146"> <strong> 818-364-2146 </strong> </a> </span>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
            <script type="text/javascript" src="{% static 'Script.js' %}"> </script>
        </footer>

    </body>
</html>
