{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> Quansh Technology Products </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

  </head>
  <body>

    </header>
      <h1 style= "text-align: center; font-weight: 700;"> Quansh Tech Products </h1>
      {% include "Navbar.html"%} <br>
    <header>

    <main>
      {% comment %} Display Login / Logout Message {% endcomment %}
      {% if user.is_superuser %}
        <a class="btn btn-success" id="Add_A_Product_Button" href="{% url 'AddProductPage' %}"> Add A New Product Here </a>
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          <span class="alert alert-warning" id="Product_Update_Notification" role="alert"> {{ message }} </span>
        {% endfor %}
      {% endif %}


      <div class="ProductPage" id="All_Products_Menu">
          <div class="container">
              <div class="row">
                  {% for product in PaginatedProducts %}
                  <div class="col">
                    <div class="card" id="All_Products_Card">
                      <div class="card-body">
                        <a href="{% url 'ShowProductPage' product.id %}">  <img class="card-img-top" id="All_Products_Image" src="https://qt-bucket.s3.amazonaws.com/{{product.Picture}}" alt=""> </a>
                        <a href="{% url 'ShowProductPage' product.id %}"> <h5 class="card-title" id="All_Products_Name_And_Brand"> {{product.Brand}} {{ product.Name }}</h5> </a>
                        {% comment %} <p class="card-text" id="Product_Description"> {{ product.Description}} </p> {% endcomment %}

                        {% comment %} Missing the Promo Calculation Logic for the HTML Page {% endcomment %}
                        {% if product.CouponName == "MLG360"%}
                        <p class="card-text" id="Product_Price"> Price: ${{ product.Promo_Product }} </p>

                        {% elif product.CouponName == "MKBundle"%}
                        <p class="card-text" id="Product_Price">  Price: ${{ product.Promo_Product }} </p>

                        {% else %}
                        <p class="card-text" id="Product_Price"> Price: ${{ product.Price }} </p>
                        {% endif %}

                        {% comment %} Logic for When a Product is either Out of Stock and/or Discontinued from the Store(s) {% endcomment %}

                        {% if product.Discontinued == False and product.Stock > 0 %}
                        <p class="stock-status" id="In_Stock_Product"> {{ product.Stock }} Available </p>

                        {% elif product.Discontinued == False and product.Stock == 0 or product.Stock < 0 %}
                        <p class="stock-status" id="No_Stock_Product"> Out Of Stock </p>

                        {% elif product.Discontinued == True and product.Stock > 0 %}
                        <p class="stock-status" id="EOL_In_Stock_Product"> Discontinued, Only {{ product.Stock }} Available </p>

                        {% elif product.Discontinued == True and product.Stock == 0 or product.Stock < 0 %}
                        <p class="stock-status" id="EOL_No_Stock_Product"> Discontinued / EOL </p>

                        {% endif %}

                        <span id="All_Products_Common_Buttons"> 
                          <a href="{% url 'ShowProductPage' product.id %}" class="btn btn-dark" id="All_Products_View_Item_Button"> View Item </a>
                          <a href="ShoppingCart" class="btn btn-dark" id="All_Products_Add_To_Cart_Button"> Add to cart </a>
                        </span> 

                        {% if user.is_superuser %}
                        <span id="All_Products_Auth_Buttons"> 
                          <a href="{% url 'UpdateProduct' product.id %}" class="btn btn-dark" id="All_Products_Update_Button"> Update </a>
                          <a href="{% url 'DeleteProduct' product.id %}" class="btn btn-dark" id="All_Products_Delete_Button"> Delete </a>
                        </span> 
                        {% endif %}

                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          </div>
      </div> <br>
    </main>

      <footer>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if PaginatedProducts.has_previous %}
            <li class="page-item"> <a href="?page=1" class="page-link"> &laquo First </a> </li>
            <li class="page-item"> <a href="?page={{PaginatedProducts.previous_page_number}}" class="page-link"> Previous </a> </li>
          {% endif %}

          {% for iter in Numbers %}
            <li class="page-item"> <a href="?page={{forloop.counter}}" class="page-link" id="Total_Pages"> {{ forloop.counter }} </a> </li>
          {% endfor %}

          {% if PaginatedProducts.has_next %}
            <li class="page-item"> <a href="?page={{PaginatedProducts.next_page_number}}" class="page-link"> Next  </a> </li>
            <li class="page-item"> <a href="?page={{PaginatedProducts.paginator.num_pages}}" class="page-link"> Last &raquo </a> </li>
          {% endif %}
        </ul>
      </nav>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
      </footer>
    </div>
  </body>
</html>
