{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> Create Account </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header>
            <h1 id="Account_Register"> Account Registration </h1>
            {% include "Navbar.html"%}
        </header>

        <main>
            <h3 id="Create_Account_Message"> Create Your Quansh Tech Account Below </h3>

            <div class="shadow p-3 mb-5 bg-body-tertiary rounded" id="Account_Registration">
                {% if Form.errors %}
                <h4> Sorry There was an error registering your Account. Please try again. </h4>
                <form action="{% url 'CreateAccount'%}" method=POST id="Registration_Form">
                    <div>
                        {% csrf_token %}
                        {{ Form.as_p }}
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary" id="Account_Registration_Submit_Button"> Submit </button>
                </form>
                {% else %}         

                <form action="{% url 'CreateAccount'%}" method=POST id="Registration_Form">
                    <div>
                        {% csrf_token %}
                        {{ Form.as_p }}
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary" id="Account_Registration_Submit_Button"> Submit </button>
                </form>
                {% endif %}
            </div>
        </main>


        <footer> 

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        
        </footer>
    </body>
</html>
