{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> About Quansh Technology </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header>
            <span> <h1 id="About_Quansh_Tech"> About Quansh Technology  </h1> </span>
            {% include "Navbar.html"%}
        </header>

        <main>
            <span> <h2 id="About_Title"> Welcome to Quansh Technology </h2> </span>

            <div id="About_Us_Article">
                <p id="About_Introdution">
                    Welcome to our computer store, where technology meets excellence! We are thrilled to provide you
                    with a wide range of cutting-edge computer products and services that cater to all your tech needs.
                    Whether you're a gaming enthusiast, a professional seeking productivity tools, or a casual user in
                    search of reliable hardware, we have it all under one roof. Let's embark on a journey through the
                    digital world together! </p>

                <p id="About_Commitment">
                    At our computer store, customer satisfaction is our top priority. We are committed to delivering
                    exceptional products, personalized service, and expert guidance to ensure you make the most informed
                    decisions. Our knowledgeable team is passionate about technology and stays up to date with the latest
                    advancements, allowing us to provide you with valuable insights and recommendations tailored to your
                    requirements. </p>

                <p id="About_Product_Range">
                    Explore our extensive range of high-quality computer hardware and peripherals. From powerful gaming
                    rigs and sleek laptops to versatile desktops and efficient components, we offer a diverse selection
                    to suit various budgets and preferences. We also stock a wide array of accessories, including
                    monitors, keyboards, mice, speakers, and more, to enhance your computing experience.
                </p>

                <p id="About_Services">
                    In addition to our comprehensive product range, we offer a range of services to support your
                    technological journey. Our skilled technicians are here to assist you with computer repairs,
                    upgrades, and maintenance, ensuring your devices run smoothly and efficiently. We also provide
                    software installations, data recovery, and troubleshooting solutions, giving you peace of mind
                    in the face of technical challenges.
                </p>

                <p id="About_Competetive_Pricing">
                    We understand the importance of affordability without compromising on quality. That's why we strive
                    to offer competitive pricing on all our products and services. We believe that everyone should have
                    access to reliable technology, and we work hard to make it accessible to all, irrespective of budget
                    constraints.
                </p>

                <p id="About_Community_And_Support">
                    Our computer store is not just a place to purchase technology; it's a community hub where tech
                    enthusiasts come together to exchange knowledge and ideas. We host regular workshops, seminars, and
                    events to foster a supportive environment for learning and growth. Our goal is to empower our
                    customers by providing them with the skills and resources they need to maximize their tech experience.
                </p>

                <p id="About_Conclusion">
                    Thank you for choosing our computer store as your trusted technology partner. We are here to guide
                    you on your tech journey, offering top-notch products, expert advice, and unparalleled customer
                    service. Visit us today and let us help you unlock the full potential of the digital world. Together,
                    we can turn your technology dreams into reality!
                </p>
            </div>

        </main>

        <footer>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>

        </footer>
    </body>
</html>
