{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title> Web Products Dashboard </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">
        
    </head>

    <body>
        <header> 
        <h1 id="Products_Dashboard"> Website Products Dashboard </h1>
        {% include "Navbar.html"%} <br>
        </header>

        <main>
            <div>                
                <ul class="list-group" id="Product_Statistics">
                    <h2 id="Web_Stats"> Website Statistics </h2>
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Product_Count"> Total Products
                        <span class="badge bg-success rounded-pill" id="Product_Count"> {{ProductCount}} </span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Online_Transactions"> Total Online Transactions
                        <span class="badge bg-success rounded-pill" id="Online_Transactions"> 77 </span>
                    </li>
                </ul>

            </div>

            <div>
                {% comment %} All the Promotions In which The Business Has to Offer {% endcomment %}
                <table class="table table-hover table-bordered border-dark" id="Promos_Table">
                    <h2 id=""> Current / Upcoming Promotions </h2>
                    <thead>
                        <tr>
                            <th scope="col"> Promo Code </th>
                            <th scope="col"> Discount Amount </th>
                            <th scope="col"> Duration </th>
                            <th scope="col"> Description </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for Promo in Promo %}
                        <tr>
                            <td> {{ Promo.CouponName }} </td>
                            <td> {{ Promo.Discount }} </td>
                            <td>  </td>
                            <td> {{ Promo.Description }} </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>

            <table class="table table-hover table-bordered border-dark" id="All_Products_Table">
                <h2 id=""> All Company Products </h2>
                <thead>
                <tr>
                    <th scope="col"> View Product </th>
                    <th scope="col"> Brand </th>
                    <th scope="col"> Full Product Name  </th>
                    <th scope="col"> Current Promo </th>
                    <th scope="col"> Product Life Status </th>
                </tr>
                </thead>
                {% for Product in PaginatedProducts%}
                <tbody>
                <tr>
                    <td> <a href="{% url 'ShowProductPage' Product.id %}"> Click Me </a> </td>
                    <td> {{Product.Brand}} </td>
                    <td> {{Product.Brand}} {{Product.Name}} </td>

                    {% if Product.Coupon %}
                    <td> {{Product.Coupon}} </td>
                    {% else %}
                    <td> N/A </td>
                    {% endif %}

                    {% if Product.Discontinued %}
                    <td id="EOL"> Discontined </td>
                    {% else %}
                    <td id="Available"> Available to Buy </td>
                    {% endif %}

                </tr>
                </tbody>
                {% endfor %}
            </table>

            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if PaginatedProducts.has_previous %}
                        <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a> </li>
                        <li class="page-item"> <a class="page-link" href="?page={{ PaginatedProducts.previous_page_number }}"> Previous </a> </li>
                        {% endif %}

                        {% for iter in Numbers%}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}"> {{forloop.counter}} </a></li>
                        {% endfor %}

                        {% if PaginatedProducts.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ PaginatedProducts.next_page_number }}"> Next </a> </li>
                        <li class="page-item"> <a class="page-link" href="?page={{ PaginatedProducts.paginator.num_pages }} "> last &raquo; </a> </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
    </body>
</html>
