{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title> Admin Dashboard </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header> 
            <h1 id="Admin_Dashboard"> Website Administrator DashBoard </h1>
            {% include "Navbar.html"%} <br> <br>
        </header>

        <main> 
            <form method="post" action="">
                {% csrf_token %}

                {% comment %} General Website DATA Statistics {% endcomment %}
                <ul class="list-group">
                    <h3 style="text-align: center;"> Website Statistics </h3>
                    
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Location_Count"> Total Stores
                        <span class="badge bg-success rounded-pill" id="Location_Count"> {{ LocationCount }} </span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Accounts_Registered"> Accounts Registered
                        <span class="badge bg-success rounded-pill" id="Accounts_Registered"> {{ RegisteredUserCount }} </span>
                    </li>
                </ul>

                {% comment %} Clickable Website Statistics for All Branch Locations  {% endcomment %}
                <table class="table table-striped table-hover table-bordered border-secondary table-light">
                    <h3 style="text-align: center;"> All Branch Locations </h3>
                    <thead>
                        <tr>
                            <th scope="col"> Street Address </th>
                            <th scope="col"> City, State </th>
                            <th scope="col"> ZipCode </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                        {% for Store in StoreList %}
                            <td> <a href="{% url 'ShowLocationPage' Store.id %}" > {{ Store.Street }} </td> <a>
                            <td> {{ Store.City }}, {{ Store.State }} </td>
                            <td> {{ Store.Zip }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> <br>
                <input type="submit" value="Update Product(s) Status" class="btn btn-secondary">
            </form>

        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
        
    </body>
</html>
