{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title> Quansh Tech Store Locations </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">
        
    </head>

    <body>
        <header> 
        <h1 id="Retail_Stores_Dashboard"> Retail Stores Admin Dashboard </h1>
        {% include "Navbar.html"%} <br>
        </header>

        <main>
            <div id="Stats_Stores">
                <ul class="list-group" id="Retail_Store_Stats">
                    <h2 id="Web_Stats"> Website Statistics </h2> 
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Web_Stats_Table_Data"> 
                        Total In-Store Purchases <span class="badge bg-primary rounded-pill"> 77 </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Web_Stats_Table_Data"> 
                        Total Retail Stores <span class="badge bg-primary rounded-pill"> {{Store.count}}  </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="Web_Stats_Table_Data"> 
                        Total In-Store Returns <span class="badge bg-primary rounded-pill"> 4 </span>
                    </li>
                </ul>

                <table class="table table-hover table-bordered border-dark" id="Retail_Stores_Table">
                    <thead>
                        <tr>
                            <th scope="col" colspan=777> <h2 id="All_Store_Locations"> All Store Locations </h2> </th>
                        <tr>

                        <tr>
                            <th scope="col"> View Store </th>
                            <th scope="col"> Street Address </th>
                            <th scope="col"> City, State </th>
                            <th scope="col"> ZipCode </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                        {% for Store in Store %}
                            <td> <a href="{% url 'ShowLocationPage' Store.id %}" > Click Me  <a> </td>
                            <td> {{ Store.Street }} </td>
                            <td> {{ Store.City }}, {{ Store.State }} </td>
                            <td> {{ Store.Zip }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
    </body>
</html>
