{% load static %}

{% if user.is_superuser or user.username == "QTMark"%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title> Reviews Page </title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">
        
    </head>

    <body>
        <header> 
            <h1 style="text-align: center;"> Quansh Tech Reviews </h1>
            {% include "Navbar.html"%} <br> <br>
        </header>

        <main>
            <h3 id="Quansh_Tech_Reviews_Title"> Cold Hard Customer / Web User Reviews On Quansh Tech  </h3>

            {% for Review in Reviews %}
            <div class="card" id="Entire_Review_Card">
                <span class="card-header" id="Review_Card_Header"> 
                    <h4> Submitted On {{ Review.ShoppingDate }} </h4> 
                </span>

                <div class="card-body" id="Review_Card_Body">

                    {% if Review.ReviewScore >= 3.5 %} 
                    <h4 class="card-title" id="Good_Review_Score"> {{ Review.ReviewScore }} / 5.0 &#11088s &#40Good&#41 Review</h4>
                    <p class="card-text" id="Good_Review_Message"> {{ Review.TotalReview }} </p>

                    {% elif Review.ReviewScore <= 2.5 %}
                    <h4 class="card-title" id="Bad_Review_Score"> {{ Review.ReviewScore }} / 5.0 &#11088s &#40Bad&#41 Review</h4>
                    <p class="card-text" id="Bad_Review_Message"> {{ Review.TotalReview }} </p>

                    {% else %}
                    <h4 class="card-title" id="Average_Review_Score"> {{ Review.ReviewScore }} / 5.0 &#11088s &#40Decent&#41 Review</h4>
                    <p class="card-text" id="Average_Review_Message"> {{ Review.TotalReview }} </p>

                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
            <script type="text/javascript" src="{% static 'Script.js' %}"> </script>
        </footer>
    </body>
</html>

{% else %}

    {% include '404_Error_Page.html'%}

{% endif %}