{% load static %}
<link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

<footer> <br> <br>
    <span> <a href="{% url 'HomePage' %}" class="btn btn-primary" id="Back_To_Top_Page_Button"> Back To Top </a> </span>

    <div id="Computer_Store_Contact_Info">
        <span id="Computer_Store_Email_Home"> &#128231 &#8658 <a href="mailto:hakobkoa@gmail.com"> <strong> QT@QuanshTech.com </strong> </a> </span>
        <span id="Computer_Store_Phone_Home"> &#128222 &#8658 <a href="tel:818-364-2146"> <strong> 818-364-2146 </strong> </a> </span> <br> <br>
    </div>
</footer>