{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title> Store Locations</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">
        
    </head>

    <body>
        <header> 
        <h1 style="text-align: center;, font-weight: 700;"> Single Location Page </h1>
        {% include "Navbar.html"%} <br>
        </header>

        <main>
            
            {% if user.is_superuser or user.is_staff %}
            <span id="Update_Location_Button"> <a href="{% url 'UpdateLocation' Location.id %}" class="btn btn-warning"> Update Location </a> </span>
            {% else %}

            {% endif %}

            <div class="card" id="Single_Location_Card">
                <img src="{% static Location.Store_Image %}" alt="" class="card-img-top" id="Single_Location_Image">
                <div class="card-body" id="Single_Location_Body"> 
                    <h3 class="card-title" id="Single_Location_Title"> Quansh Tech {{ Location }} </h3>

                    <div id="Single_Location_Address_Section"> 
                        <p class="card-text" id="Store_Address_Title"> <h5> &#127970 <span id="Store_Address"> Store Address </h5> </p>
                        <p class="card-text"> <address id="Entire_Address"> {{ Location.Street }} <br> {{ Location.City_State_Zip}} </address> </p>
                        {% if user.is_superuser or user.is_staff %}
                        <p class="card-text"> <h3 id="Lab_Summary" style="color: red;"> &#11088 Interactive Map Logic Goes Here </h3> </p>
                        {% endif %}
                    </div>

                    <div id="Single_Location_Body_Text">
                        <p class="card-text" id="Business_Hours_Title"> <h5> &#128340 <span id="Business_Hours"> Business Hours </span> </h5> </p>
                        <ul id="Business_Hours_List">
                            <li id="Open_And_Close_Times" id="Mon"> <span id="Day"> Mon &#8658 </span> {{Location.Opens}} to {{Location.Closes}} </li>
                            <li id="Open_And_Close_Times" id="Tues"> <span id="Day"> Tues &#8658 </span> {{Location.Opens}} to {{Location.Closes}}</li>
                            <li id="Open_And_Close_Times" id="Wed"> <span id="Day"> Wed &#8658 </span> {{Location.Opens}} to {{Location.Closes}}</li>
                            <li id="Open_And_Close_Times" id="Thur"> <span id="Day"> Thur &#8658 </span> {{Location.Opens}} to {{Location.Closes}}</li>
                            <li id="Open_And_Close_Times" id="Fri"> <span id="Day"> Fri &#8658 </span> {{Location.Opens}} to {{Location.Closes}}</li>
                            <li id="Open_And_Close_Times" id="Sat"> <span id="Day"> Sat &#8658 </span> <strong> CLOSED </strong> </li>
                            <li id="Open_And_Close_Times" id="Sun"> <span id="Day"> Sun &#8658 </span> <strong> CLOSED </strong>  </li>
                        <ul>
                    </div>

                    <span id="Single_Location_Contact_Info"> 
                        <p class="card-text" id="Phone_Number"> &#128222 &#8658 <a href="tel:{{ Location.Phone }}"> <strong> {{ Location.Phone }} </strong> </a> </p> 
                    </span>
                </div>
            </div>
        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
    </body>
</html>
