{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> Consultation </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href= "{% static 'Style.css' %}">

    </head>

    <body>
        <header> 
            <h1 id="Quansh_Tech_Consultation"> Quansh Tech Consultation </h1>
            {% include "Navbar.html"%}
        </header>

        <main> 
            <h2 id="ConsultMessage"> Empowering Your Business with Quansh Tech </h2>

            <div id="Profesional_Consultation">
                <h4> <strong> Profesional Consultation </strong> </h4>
                <span id="Prof_Consult_Phone"> &#128222 &#8658 <a href="tel:818-966-5871"> <strong> 818-966-5871 </strong>  </a> </span>
                <span id="Prof_Consult_Email"> &#128231 &#8658  <a href="mailto:hakobkoa@gmail.com"> <strong> ProfConsult@QuanshTech.com </strong> </a> </span>
            </div>

            <div id="Personal_Consultation">
                <h4> <strong> Personal Consultation </strong> </h4>
                <span id="Per_Consult_Phone"> &#128222 &#8658 <a href="tel:818-058-1559"> <strong> 818-058-1559 </strong> </a> </span>
                <span id="Per_Consult_Email"> &#128231 &#8658  <a href="mailto:hakobkoa@gmail.com"> <strong> PerConsult@QuanshTech.com </strong> </a> </span>
            </div>

            <div id="Consultation_Testimonials">
                <h3 id="Consult_Review"> Consultation Reviews </h3>
                {% for T in Testi %}
                <div class="card" id="Actual_Testimonial">
                    {% if T.First_Name %}
                    <div class="card-header"> {{T.About}} For {{T.First_Name}} </div>
                    {% else %}
                    <div class="card-header"> {{T.About}} For Anonymous </div>
                    {% endif %}
                    <div class="card-body">
                        {% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
                        <p class="card-text"> {{T.Testimonial}}</p>
                        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>

        <footer> 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>
        </footer>
    </body>
</html>