/* All Pages Styling */
body {
    background-color: #FCEDDA;
    color: #4eb62e;
    font-family: Arial, Helvetica, sans-serif;

    /* For Displaying on Smaller Resolution Devices */
    /* position: absolute;
    margin: 0%;
    width: 100%; */
}

a {
    text-decoration: none;
}

th{
    text-align: center;
}

/* NavBar Extension Page */
#Home_Image_Button{
    padding-right: 500px;
    padding-left: 100px;
}

#Search_NavBar{
    background-color: #CC313D;
}

#Main_NavBar, #Account_DropDown_Options , #Business_Products_Services_DropDown_Options{
    background-color: #ff9c77;
}

#Search_Button, #Product_Search_Input_Bar  {
    background-color: #F7C5CC;
    font-weight: 700;
}

#Shopping_Cart_Button {
    color: #F7C5CC;
    font-weight: 700;
}

#Main_NavBar_Button, #NavBar_DropDown_Menu_Button
{
    color: #2F3C7E;
    font-weight: 700;
}

#Company_Email, #Company_Phone {
    color: #1e6d5c;
    font-weight: 700;
}

/* Home Page */
#Business_Name_Quansh_Tech{
    text-align: center;
}

#LogIn_LogOut_Alert{
    display: table;
    margin: auto;
    margin-top: -2%;
    margin-bottom: 1%;
}

#Picture_SlideShow{
}

#Computer_Store_Email_Home {
    margin-right: 100px;
}

#Computer_Store_Contact_Info {
    background-color: #cebfab;
    padding-top: 7%;
    padding-bottom: 20%;
    padding-left: 14%;
}

#Back_To_Top_Page_Button{
    display: block;
}


/* About Us Page */
#About_Quansh_Tech, #About_Title{
    text-align: center;
}

#About_Title{
    padding-top: 2%;
}

#About_Introdution, #About_Commitment, #About_Product_Range, #About_Services, #About_Competetive_Pricing,
#About_Community_And_Support, #About_Conclusion
{
    color: #204714;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0.75%;
}

/* Product Menu Page */
#Quansh_Tech_Products{
    text-align: center;
}

#Product_Name_And_Brand{
    color: #2645f1;
}

#Product_Description {
    color: #756565;
}

#Product_Price {
    color: #3e3668;
}

#Product_Stock {
    color: #C76868;
}

/* Single Product Page */
#Product_Card{
    display: inline-block;
}

#Quansh_Tech_Product{
    text-align: center;
}

/* Tech Consultation Page */
#Quansh_Tech_Consultation{
    text-align: center;
}

#ConsultMessage{
    padding-top: 4%;
    text-align: center;
    color: #7c680b;
}

#Profesional_Consultation, #Personal_Consultation, #Consultation_Testimonials{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}

#Prof_Consult_Phone, #Prof_Consult_Email{
    padding-right: 7%;
}

#Per_Consult_Phone, #Per_Consult_Email{
    padding-right: 7%;
}

#Consult_Review{
    color: #a7aa00;
    font-weight: 700;
    margin-top: 3%;
}

#Actual_Testimonial{
    margin-top: 2%;
    margin-bottom: 5%;
}
/* Tech Support Page */
#Quansh_Tech_Support{ 
    text-align: center;
    
}


#Tech_Support_Message{
    padding-top: 4%;
    text-align: center;
    color: #7c680b;

}

#Direct_Support_Message{
    font-weight: 700;
}

#Tech_Support_Contact{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
    font-weight: 700;
}

#Tech_Support_Phone{
    padding-right: 7%;
}

#Support_Tickets{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 20%;
}

#EmailSubmission, #QuestionSubmission{
    
}

#Tech_FAQs {
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 20%;
}

/* Tech Lab Page */
#Quansh_Tech_Lab{
    text-align: center;
}

#Lab_Greetings{
    color: #7c680b;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}

#Lab_Summary{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}


/* Careers Page */
#Quansh_Tech_Jobs{
    text-align: center;
}

#Employment_Greetings{
    color: #7c680b;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}

#Employment_Summary{
    padding-top: 2%;
    padding-left: 14%;
    padding-right: 14%;
}

#Successful_Submit_Message{
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 20%;
    padding-bottom: 5%;
}

#Employment_Positions{
    margin-left: 27%;
    margin-right: 35%;
    
}

#Job_Title {
    color: #2645f1;
}

#WorkPlace {
    color: #b81010;
}

#Job_Key_Respons{
    color: #921f9c;
}

#Responsibilties{
    color: #530a0a;
}

#Salary {
    color: #358606;
}

#One_Job_Display{
    margin-bottom: 10%;
}

/* Single Job Appliaction Page */
#Single_Job_Position, #Job_Application_Form{
    margin-left: 20%;
    margin-right: 30%;
}

#Single_Job_Title{
    color: #2645f1;
}

#Single_Salary{
    color: #358606;
}

#Single_Location_Type, #Single_Workplace{
    color: #b81010;
}

#Single_Job_Description, #Single_Job_Responsibilties{
    color: #921f9c;
}

#Single_Job_Benefits{
    color: #8b822a;
}

#Single_Job_EEO{
    color: #000000;
}

#HR_Phone {
    padding-right: 5%;
}

#Application_Title{
    font-weight: 700;
    text-align: center;
}

#Job_Application_Form {
    padding-top: 3%;
}

#Submit_Button{
    display: table;
    margin: auto;
    margin-bottom: 20%;
}

/* Locations Page */
#Locations_Greetings{
    color: #7c680b;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}

#Locations_Page{
    text-align: center;
}

#All_Locations{
    margin-left: 20%;
    margin-right: 20%
}

#Location_Card{
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 250px;
    margin-left: 5%;
    margin-top: 5%;
}

#More_Details_Button ,#Update_Location_Button{
    margin-top: 2%;
    height: 40px;
}

/* #More_Details_Button{
    color: #f09c2e;
    background-color: #1a6a83;
}

#Update_Location_Button{
    color: #d3f02e;
    background-color: #881d1d;
} */

/* Single Location Page */
#Single_Location_Card{
    margin-left: 20%;
    margin-right: 25%;
}

#Single_Location_Title{
    color: #a73a98;
}

#Store_Address, #Business_Hours{
    color: #530a0a;
    font-weight: 700;
}

#Entire_Address{
    color: #110f11;
}

#Entire_Address{
    padding-left: 32px;
    margin-bottom: 45px;
}

#Phone_Number{
    margin-bottom: 45px;
}

#Business_Hours_List {
    list-style: none;
}

#Day {
    color: #CC313D;
    font-weight: 700;
}

#Open_And_Close_Times{
    color: #1e6d5c;
}

/* Customer Reviews Page */


/* Account Registration Page */
#Account_Register{
    text-align: center;
}

/* Generate Reports Page */
#All_Reports{
    display: inline-flex;
    margin-top: 2.5%;
    margin-left: 14%;
    margin-bottom: 2.5%;
}


#Reports_Page{ 
    text-align: center;
}

#Product_Reports{
}

#Location_Reports{
}

#TXT_Product_Report, #CSV_Product_Report, #PDF_Locations_Report{
}

/* ECommerce Dashboard Web Page Admins Only */
#Products_Dashboard{
    text-align: center;
    font-weight: 700;
}


#Stats_Promos{
    display: inline-flex;
}


#Web_Stats, #Promotions{
    text-align: center;
    color: #c57812;
}

#Web_Stats_Table{
    width: 500px;
    margin-right: 10%;
    margin-left: 7%
}

#Web_Stats_Table_Data{
    color: #8d1f37;
    background-color: #cdceae;
}

#Promotions_Table{
    color: #8d1f37;
    background-color: #cdceae;
    width: 1500px;
    margin-right: 20%;
}


#All_Products_Table{
    color: #8d1f37;
    background-color: #cdceae;
    margin-left: 14%;
    width: 1200px;
}

#EOL{
    color: #ff0000;
    font-weight: 700;
}

#Available, #CouponCode{
    color: #2e7917;
    font-weight: 700;
}

#Paggination{
    display: table;
    margin: auto;
}

/* Retail Stores Dashboard Web Page Admins Only */
#Retail_Stores_Dashboard{
    text-align: center;
    font-weight: 700;
}

#Stats_Stores{
    display: flex;
}

#Retail_Store_Stats{
    width: 300px;
    margin-right: 10%;
    margin-left: 7%
}

#Retail_Stores_Table{
    color: #8d1f37;
    background-color: #cdceae;
    width: 700px;
}

#All_Store_Locations{
    text-align: center;
    color: #c57812;
}

/* Customers Dashbored Web Page Admins Only  */
#QTCustomers{
    text-align: center;
    font-weight: 700;
}


/* Customer Support Web Page CSRs & Admins Only */
#CSR_Page, #CSR_Summary{
    text-align: center;
}

#Customer_Ticket {
    margin-top: 3%;
}